<div class="jumbotron py-4 my-4">
  <h1 class="display-4">Hello, John!</h1>
  <p class="lead">Start organizing an event by clicking the button below.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Create Event</a>
</div>

<h2>Manage your events:</h2>
<h2>Your schedule:</h2>

<a class="btn btn-primary btn-lg" href="#" role="button">View past events</a>
<br>
<a class="btn btn-primary btn-lg" href="#" role="button">View past reservations</a>