<div class="row w-100 h-100 align-items-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 justify-content-center mx-auto">
        <div class="jumbotron">
            <h1 class="display-2 text-center">Indaba</h1>
            <p class="lead text-center">The Simple Scheduler</p>
            <p class="lead text-center">
                <a class="btn btn-primary btn-lg" href="https://login.oregonstate.edu/idp/profile/cas/login?service=https://indaba-scheduler.herokuapp.com/" role="button">Log in</a>
            </p>
        </div>
    </div>
</div>


      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col col-lg-10 col-xl-8">