<div class="container d-flex h-100">
    <div class="row align-self-center w-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron">
                <h1 class="display-4 text-center">Indaba</h1>
                <p class="lead text-center">The Simple Scheduler</p>
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg" style="background-color:#D73F09;" href="#" role="button">Log in</a>
                </p>
            </div>
        </div>
    </div>
</div>
