<div class="container d-flex h-100">
    <div class="row w-100 h-100 align-items-center">
        <div class="col-8 mx-auto">
            <div class="jumbotron">
                <h1 class="display-2 text-center">Indaba</h1>
                <p class="lead text-center">The Simple Scheduler</p>
                <p class="lead text-center">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Log in</a>
                </p>
            </div>
        </div>
    </div>
</div>
