<h1 class="mt-5">Make a reservation</h1>
<br>
<div class="event-display mb-4 ml-2 w-auto">
   <h5>Event name: {{eventDetails.event_name}}</h5>
   <h5>Description: {{eventDetails.description}}</h5>
   <br>
   <br>
   <h5>Click on a time slot to select it:</h5>
   <h5>(you can pick as many as you like!!)</h5>
</div>
