<div class="jumbotron py-4 my-4">
  <h1 class="display-4">Welcome to the Organizer Portal!</h1>
  <p class="lead">Edit event details, modify or create time slots, and manage attendance all from this page.</p>
  <br><br>
  <p class="lead">Need to reserve a time slot for yourself.  Just click below:</p>
  <a class="btn btn-primary btn-lg" href="/manage" role="button">Reserve Time Slot</a> <!--update href later -->
</div>

<div class="table-responsive-md" id = "resv">
  <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
</div>
