<div class="jumbotron py-4 my-4">
  <h1 class="display-4">Welcome to the Organizer Portal!</h1>
  <p class="lead">Edit event details, modify or create time slots, and manage attendance all from this page.</p>
  <br><br>
  <p class="lead">Need to reserve a time slot for yourself.  Just click below:</p>
  <a class="btn btn-primary btn-lg" href="/manage" role="button">Reserve Time Slot</a> <!--update href later -->
</div>
