.btn-primary {
	background-color: #D73F09;
	border-color: #D73F09;
}

.btn-primary:hover, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
	background-color: #D3832B;
	border-color: #D3832B;
}